#contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #contact-card {
    width: 60%;
    height: 70%;
    #main-container {
      width: 100%;
      height: 100%;
      margin-top: 1.4em;
    }
  }
}
