#title-container {
  height: 7%;
  display: flex;
  h2 {
    width: 26%;
    height: 100%;
    color: #ccd6f6;
    font-size: 2em;
    font-family: "Roboto Mono", monospace;
    span {
      font-size: 0.7em;
      color: #64ffda;
      font-family: "Roboto Mono", monospace;
    }
  }
  hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 1%;
    border: 1px solid #8892b0;
  }
}
