<div id="navbar">
  <div id="logo" routerLink="home">
    <img src="../../../assets/img/icon.png" id="logo-img" />
  </div>

  <div id="menu">
    <ul>
      <li routerLink="about">
        <span>01.</span>
        About
      </li>
      <li routerLink="experience">
        <span>02.</span>
        Experience
      </li>
      <li routerLink="education">
        <span>03.</span>
        Education
      </li>
      <li routerLink="work">
        <span>04.</span>
        Work
      </li>
      <li routerLink="contact">
        <span>05.</span>
        Contact
      </li>
      <li>
        <a
          mat-stroked-button
          color="primary"
          href="assets/doc/Resume.pdf"
          download="Resume.pdf"
          >Resume</a
        >
      </li>
    </ul>
  </div>
</div>
