<div id="education">
  <div class="container-fluid" id="education-card">
    <app-title id="03" title="Education"></app-title>
    <div id="main-container">
      <div *ngIf="this.university">
        <h4>University</h4>
        <hr />
        <app-list-item
          *ngFor="let item of university"
          [item]="this.item"
        ></app-list-item>
      </div>

      <div *ngIf="this.bootcamp">
        <h4>Bootcamp</h4>
        <hr />
        <app-list-item
          *ngFor="let item of bootcamp"
          [item]="this.item"
        ></app-list-item>
      </div>

      <div *ngIf="this.courses">
        <h4>Courses</h4>
        <hr />
        <app-list-item
          *ngFor="let item of courses"
          [item]="this.item"
        ></app-list-item>
      </div>
      <app-space></app-space>
    </div>
  </div>
</div>
