<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab mat-align-tabs="center">
    <ng-template mat-tab-label>
      <h1>Vantek</h1>
    </ng-template>
    <div class="card-box mat-elevation-z4">
      <h2>
        Full-Stack Developer
        <app-link link="https://vantek.co/" text="@Vantek"></app-link>
      </h2>
      <h5>March 2022 - Current</h5>

      <div id="tech">
        <h6>
          For projects OMS, DMA, DMA Mobile for
          <app-link link="https://www.byma.com.ar/" text="BYMA"></app-link>
        </h6>
        <ul>
          <li>
            Reduced by 30% csv file processing time by a new recursive
            algorithm.
          </li>
          <li>
            Created and updated mobile applications (Android and iOS), improved
            usability by implementing new requirements.
          </li>
          <li>
            Reduced by 30% the number of bugs by analysis and reimplementation
            of old code.
          </li>
        </ul>
        <p>
          <span>Tech Stack:</span> Java, Spring, Angular, Ionic, and PostgreSQL.
        </p>
      </div>
    </div>
  </mat-tab>

  <mat-tab mat-align-tabs="center">
    <ng-template mat-tab-label>
      <h1>NTT Data</h1>
    </ng-template>
    <div class="card-box mat-elevation-z4">
      <h2>
        Full-Stack Developer
        <app-link link="https://www.nttdata.com/global" text="@NTT Data"></app-link>
      </h2>
      <h5>March 2021 - March 2022</h5>
      <div id="tech">
        <h6>
          For a project of
          <app-link link="https://seguros.lacaja.com.ar/" text="La Caja Seguros"></app-link>
        </h6>
        <ul>
          <li>
            Implemented Middleware to connect the different client's systems, improving the scalability and availability by using microservices.
          </li>
          <li>
            Reduced by 10% the webpage's response time by moderated service calls.
          </li>
          <li>
            Reduced by 30% environment arming time by updating the documentation.
          </li>
        </ul>
        <p>
          <span>Tech Stack:</span> Java, Spring, Angular, and SQL Server
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
