<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab mat-align-tabs="center" *ngFor="let experience of experiences">
    <ng-template mat-tab-label>
      <h1>{{ this.experience.enterprice }}</h1>
    </ng-template>
    <div class="card-box mat-elevation-z4">
      <h2>
        {{ this.experience.title }}
        <app-link
          [link]="this.experience.enterprice_link"
          [text]="this.experience.enterprice"
        ></app-link>
      </h2>
      <h5>{{ this.experience.period }}</h5>

      <div id="tech">
        <h6>
          {{ this.experience.description }}
          <app-link
            [link]="this.experience.client_link"
            [text]="this.experience.client"
          ></app-link>
        </h6>
        <ul>
          <li *ngFor="let item of experience.importants">
            {{ item }}
          </li>
        </ul>
        <p><span>Tech Stack:</span> {{ this.experience.technologies }}</p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
